
@font-face {
    font-family: "SpikeFont";
    src: url("../assets/x-scale_.ttf");
  }
.st-logo{
    width: 160px;
}

.box-carrusel{
    width: 100%;
    height: 100vh;
}
.img3{
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    background:url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/Knop.png?alt=media&token=65778ee9-3e26-40c8-b9ae-6e43af17de38");
}

.img2{
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/Motor.png?alt=media&token=a783cad6-8715-449d-a93b-50189d4e07cf");
}
.img1{
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/Sjors.png?alt=media&token=bca519c6-b865-42bf-a3a9-52963c3c5a8f");
}
.img4{
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/Spikes.png?alt=media&token=07c32125-a949-4849-9701-1edadb7e2858");
}
.img5{
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/2Stingers.png?alt=media&token=9579684d-5806-4aa0-bf10-952cc4bcbd97");
}

.slick-list{
    width: 100% !important;
}


#myVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}
.cover{
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,.5);
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 24px;
}
.info-box{
    width: 50%;
    padding: 0 10%;
    margin-bottom: 120px;

}

.cover h1{
    font-size: 80px;
    color: white;
    font-family: "SpikeFont";
    margin-bottom: 0px;
    line-height: 120px;
}
.btn-white{
    min-width: 240px;
    height: 40px;
    background-color:white;
    color:black;
    border: none;
}
.benefits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 120px 10%;
    font-size: 16px;
}
.benefits h2, .nom h2, .gallery h2, .blog h2{
    font-size: 32px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}
.box-info{
    width: 200px;
    flex-grow: 1;
    padding-right: 80px;
}

.link{
    color:#004aad;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.box-benefits{
    width: 800px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}
.card-ad{
    width: 50%;
    color: #666666;
    padding: 0 2%;
    margin: 0px 0 24px 0;
    flex-grow: 1;
}

.card-ad img{
    width: 100%;
}

.card-ad h3{
    font-size: 24px;
    font-weight: 500;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: #F9F9F9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle img{
    width: 40px;
}
.home-iframe{
    background-color: #f2f2f2;
    padding: 120px 10%;
}
.home-video{
    width: 80%;
    margin:48px 10% 0px;
    height: auto;
    min-height: 500px;
}
.footer a{
    color: #cccccc !important;


}
.news{
    margin: 0 auto;
    font-size: 16px;
    padding: 160px 15% 80px 15%;
    font-size: 16px;
    text-align: center;
}
.news a, .news a:hover{
    color: #666666;
}


.box-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-post{
    background-color: white;
    width: 360px;
    min-height: 400px;
    padding: 4%;
    border: 1px solid #f0f0f0;
    transition: all 1s ease;
    margin: 24px 0;
}
.card-post h3{
    font-weight: bold;
}

.card-post:hover{
    box-shadow: 0 5px 8px 1px hsl(0deg 0% 84% / 50%);
}
.card-post img{
    width: 100%;
}

.contact{
    margin: 0 auto;
    font-size: 16px;
    padding: 160px 10% 80px 10%;
    font-size: 16px;
    text-align: center;
    background-color: #f2f2f2;

}

.gallery{
    width:100%;
    height: auto;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    transition: all 1s ease;
    cursor: pointer;
}
.photos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: hidden;
}
.photos img{
    width: 340px;
    flex-grow: 1;
    transition: all 1s ease;

}

/* .gallery img:hover{
    transform: scale(1.1);
} */

.nom{
    width:100%;
    height: auto;
    padding: 5% 20%;
    background-color: #f2f2f2;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
}
.nom h3{
    font-size: 24px;
}

.logo_img{
    width: 80px;
}
.contacto{
    width: 100%;
    background-color: white;
    padding: 80px 5% 40px 5%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}
.contact_map{
  width: 300px;
  flex-grow: 1;
  margin-right: 20px;
}
.contact_map iframe{
    width: 100%;
    height: 450px;
}
.contact_descript{
    width: 300px;
    flex-grow: 1;
    margin-left:20px;
}

.input{
    width: 100%;
    margin: 24px 0;
    height: 40px;
    border:1px solid #e5e5e5;
    padding-left: 12px;
}
.input::placeholder, .txtarea::placeholder{
    color: #cccccc;
    font-family: 'Noto Sans JP', sans-serif;

}
.txtarea{
    width: 100%;
    height: 200px;
    margin: 24px 0;
    height: 100px;
    border:1px solid #e5e5e5;
    padding-left: 12px;
} 
.btn_yellow{
    width: 240px;
    height: 40px;
    background-color:#88001B;
    color: white;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 4px;
}

.btn_yellow:hover{
    box-shadow: inset 0 -70px 0 0 #630114;
}
.btn_yellow:focus{
    outline: none;

}

.box_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #cccccc !important;
    

}
.footer p{
    opacity: .7;
}
.footer-box{
    width: 100%;
    padding: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-box div{
    width: 300px;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 80px;
}

.footer h3{
    color: #cccccc !important;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    opacity: .9 !important;
}
.footer a{
    margin: 240px 0px !important;
    color: #f2f2f2;
    opacity: .9;
}

.footer img{
    width: 280px;
}
#media{
    margin: 240px 0 !important;
}
.social span{
    font-size: 24px;
    margin-right: 12px;
}
.divider{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #f2f2f2;
    opacity: .3;
}
.copy{
    padding: 8px 10%;
    text-align: center;
}

.about{
    text-align: center;
    padding: 0 0 5% 0;
    font-size: 16px;
    /* background-color: #f2f2f2; */
}
.card-story{
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 160px;
    /* padding: 2% 8%;
    background-color: white; */
}
.card-story iframe{
    width: 100%;
    height: 500px;
}
.subtitle{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.subtitle2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}
/* SPECS */
.specs, .setup{
    margin: 0 auto;
    font-size: 16px;
    padding: 160px 20% 80px 20%;
    font-size: 16px;
}
.products-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 48px 0;
}
.product-card{
    background-color: #f2f2f2;
    width: 300px;
    height: auto;
    padding: 2%;
    /* border: 1px solid #cccccc; */
}
.product-card h3{
    text-align: center;
    font-weight: bold;
}

.specs-box{
    display: flex;
    flex-wrap: wrap;
}
.specs-box div:first-child{
    width: 100%;
}
.specs-box div:nth-child(2){
    padding: 0 0 0 4%;
    width: 100%;
}
.specs-img{
    margin-top: 48px;
    margin-bottom: 48px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/Undergroud_gravel.png?alt=media&token=909a5ac4-46bd-4fe0-ad87-ccbbb352dd66");
}
.line{
    opacity: .3;
}

.story{
    text-align: left !important;
}
.bg-logo{
    width: 240px;
    margin-bottom: 0px;
}
.back-link{
    color:#004aad;
    font-weight: bold;
    text-decoration: underline;
}
.none{
    display: block;
}
.play{
    color: white;
    font-size: 36px;
}
.modal-info{
    text-align: center;
}

.modal-img{
    width: 120px;
    margin-bottom: 24px;
}

.modal-info strong, .specs strong, .setup strong, .card-story strong{
    color: #004aad;
    text-decoration: underline;
}



.setup-box{
    display: flex;
}
.setup-img{
    width: 50%;
    height: 500px;
    background-size: cover;
    background:url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/FlatTires.png?alt=media&token=a6bc1a26-5461-4239-a101-b9a20561901c");
    background-position: bottom;
    border-radius: 12px;
}
.setup-info{
    width: 50%;
    padding: 0 0 0 4%;
    box-sizing: border-box;
}

/* Event */
.event{
    padding: 160px 25% 80px 25%;
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 280px;
    border-radius: 12px;
    background-image:url("https://firebasestorage.googleapis.com/v0/b/spike-ed33d.appspot.com/o/Motor2.png?alt=media&token=2b7140a3-13bb-4e02-82df-b434d7c400bd") ;
    background-position: center;
    background-size: cover;
    margin-bottom: 24px;
}
.event h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.event p, .event li{
    font-size: 16px;
}
.invite-form{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.invite-form input{
    width: 100%;
    margin: 16px 0;
    height: 40px;
    border:1px solid #cccccc;
    border-radius: 4px;
}
.invite-form input::placeholder{
    padding-left: 8px;
    opacity: .5;
}
.cta{
    text-align: center;
    margin: 48px;
}

@media(max-width: 1300px) {
    .footer-box div {
        flex-wrap: nowrap !important;
    }
    .setup-box{
        flex-wrap: wrap;
    }
    .setup-img, .setup-info{
        width: 100%;
    }
    .setup-img{
        height: 120px;
        margin-bottom: 24px;
        border-radius: 8px;
    }
    .photos img{
        width: 200px;
    }
    .contacto{
        box-sizing: border-box;
    }
    .contacto div{
        width: 100%;
        margin-bottom: 24px;
    }
   
    .contact_map{
        margin-right: 0px;
      }
      .contact_descript{
          margin-left:0px;
      }
}

@media(max-width: 800px) {
    .footer-box {
        flex-wrap: wrap !important;
    }
    .card-story{
        width: 80%;
    }
    .card-post{
        width: 100%;
    }
    .specs, .setup, .news, .event, .contact{
        padding: 120px 10% 40px 10%;
    }
    .product-card{
        margin-bottom: 12px;
    }


}
@media(max-width: 525px) {
    .info-box{
        width: 100%;
    }
    .cover{
        align-items: center;
    }
    .card-story iframe{
        width: 100%;
        height: 250px;
    }
    .specs, .setup, .news, .event, .contact{
        padding: 120px 5% 40px 5%;
    }
    .specs-img, .img{
        height: 240px;
    }
    .product-card{
        margin: 12px 0;
    }
    .photos img{
        width: 100px;
    }
    .contacto{
        padding-top: 24px;
    }
    
    .card-story{
        width: 90%;
        font-size: 14px;
    }

    .figure h1{
        font-size: 54px;
       
    }
    .figure{
        width: 100%;
        align-items: center;
        background-color: transparent;
   }
    .footer-box div{
        padding-left: 0px;
    }
    .benefits h2, .nom h2{
        font-size: 24px;
    }
   .benefits p{
       font-size: 16px;
   }
   .card-ad{
    width: 100%;
    flex-grow: 1;
    text-align: center;
    
    }
    .circle{
        margin: 0 auto;
    }
    
    .box-info{
        padding: 0;
        text-align: center;
        margin-bottom: 24px;
    }
    .nom{
        padding: 80px 5%;
        font-size: 14px;
    }

    .box_logo{
        justify-content: flex-start;
    }
    .none{
       display: none;
    }

}