.navbar{
    width: 100%;
    height: 80px;
    color:white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    z-index: 99;
}
.navbar img{
    height: 54px;
}

.media{
    display: flex;
    color: white !important;
    display: flex;
}

.navbar a{
    color:white;
    margin: 0px 24px 0 0px;
}
.media div{
    display: flex;
}


.nav-media{
    position: relative;
    float: right;
    color:white !important;
    display: flex;
}
.nav-media h3{
    color:white;
    font-weight: 550;
    transition: all 1s ease;
    cursor: pointer;
}

.nav-media h3:hover {
    color:#BF2F35;
}
.nav-media div{
    display: flex;
}
.nav-media a{
    color: white;
    margin-left: 24px;
}
.mobile-nav{
    display: none;
}
.navbar{
    padding: 0 5%;
}

.menu-drop{
    width: 240px;
    height: 100vh;
    background-color: black;
    color:white;
    position: absolute;
    top: 0;
    right: -240px;
    padding: 40px 0 24px 24px;
    transition: all .3s ease;
}
.menu-drop h3{
    color: white !important;
    font-size: 24px;
    padding: 12px;
}
.menu-drop span{
    float: right;
    margin-right: 24px;
    margin-top: -12px;
}

@media(max-width: 800px) {
    .mobile-nav{
        display: flex;
        font-size: 24px;
    }
    .menuDropActive{
        right:0;
    }
    .nav-media{
        display: none;
    }
    .cover h1{
        line-height: 80px;
    }

}

.mobile-nav h3:active {
    opacity: .6;
}